.background{
  position: fixed;
  width: 100%;
  height: auto;
  z-index: -1;
}

.header{
position: absolute;
width: 1339px;
height: 68px;
left: 49px;
top: 6px;

}

.logoAndName{
position: absolute;
width: 100px;
height: 42px;
left: 49px;
top: 19px;
}

.path6{
  position: absolute;
  left: 0%;
  right: 58.09%;
  top: 0.01%;
  bottom: 0.1%;

}

.delhimetro{
position: absolute;
left: 45.16%;
right: 0.47%;
top: 20.71%;
bottom: 16.65%;
}

.dateAndTime{
  position: absolute;
width: 320px;
height: 28px;
left: 581px;
top: 139px;

font-family: 'Arial';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 28px;
color: #FFFFFF;
}

.weather{
position: absolute;
width: 187px;
height: 60px;
left: 621px;
top: 204px;
}

.card{
position: absolute;
width: 420px;
height: 469px;
left: 510px;
top: 320px;
background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 16px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: black;
  text-align: center;
}


.ln{
  position: absolute;
  width: 78px;
  height: 33px;
  left: 681px;
  top: 353px;
}

.btn{
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 5px 10px;
gap: 10px;

position: absolute;
width: 138px;
height: 26px;
left: 651px;
top: 571px;

background: #C0282C;
border-radius: 4px;
}

.show{
  width: 118px;
height: 26px;

font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
/* identical to box height */

text-transform: capitalize;

color: #FFFFFF;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

.from{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  
  position: absolute;
  width: 267px;
  height: 50px;
  left: 585px;
  top: 407px;
  border-radius: 10px;
  
  background: #FFFFFF;
}

.to{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: absolute;
width: 267px;
height: 50px;
left: 585px;
top: 472px;
border-radius: 10px;

background: #FFFFFF;
}

.slogo{
  position: absolute;
width: 42.01px;
height: 42px;
left: 699px;
top: 800px;
}

.line1{
position: absolute;
left: 98px;
top: 815px;
}

.line2{
  position: absolute;
  left: 98px;
  top: 830px;
}

.line3{
  position: absolute;
  left: 762px;
  top: 815px;
}

.line4{
  position: absolute;
  left: 762px;
  top: 830px;
}

/* Inside Route Page */

#container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.route-card {
  background-color: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  padding: 10px;
}

.map {
  height: auto;
  width: 100%;
  max-width: 1000px;
  object-fit: contain;
  border: 2px dotted black;
  border-radius: 10px;
  transition: transform 0.2s ease-out;
}

.map:hover {
  transform: scale(2); 
}

.route-heading {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.route-src h4{
  margin: 0 4px;
}

.route-src p {
  margin: 0px;
}

.arrow {
  padding-bottom: 15px;
  margin: 0;
}

.station-name {
  font-size: 15px;
}

.small-logo {
  width: 15px;
  height: auto;
  padding-right: 5px;
}